.day-container {
  display: flex;
  flex-wrap: wrap;
}

.detail-container {
  display: flex;
  width: 10%;
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  color: black;
}
