.day-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detail-container {
  display: flex;
  width: 150px;
  background-color: rgb(255, 251, 238);
  margin: 10px;
  padding: 10px;
  justify-content: center;
  color: black;
  box-shadow: lightgray 2px 3px 3px 3px;
}

h4 {
  text-align: center;
  margin: 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: rgb(161, 212, 236);
  font-size: 30px;
  color: white;
}

.day-title {
  text-align: center;
}
